{% extends 'base2.html' %}

{% block title %}
Questionnaire based on Emotion
{% endblock title %}

{% block body %}

<!-- form -->
<div class="container" style="width: 75%;">

    <form method="POST" action="/emotion_questionnaire">

        {% csrf_token %}

        <h2 class="text-light">Mental Health Survey</h2>

        <!-- Question 1 -->
        <div class="mb-3">
            <label class="mb-2 text-light" for="age">What is your age?</label>
            <input type="number" id="age" name="age" class="form-control" placeholder="Enter Your Age" />
        </div>

        <!-- Question 2 -->
        <label class="mb-2 text-light" for="gender">Choose your gender.</label>
        <div class="mb-3">
            <select class="form-select" id="gender" name="gender">
                <option selected disabled>Select an option</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="nonBinary">Non-binary</option>
            </select>
        </div>

        <!-- Question: How many times have you been pregnant? -->
        <label class="mb-2 text-light" for="pregnancies">How many times have you been pregnant?</label>
        <div class="mb-3">
            <input type="number" class="form-control" id="pregnancies" name="pregnancies"
                placeholder="Enter the number of pregnancies">
        </div>

        <!-- Question: What is your glucose level? -->
        <label class="mb-2 text-light" for="glucoseLevel">What is your glucose level?</label>
        <div class="mb-3">
            <input type="number" class="form-control" id="glucoseLevel" name="glucoseLevel"
                placeholder="Enter your glucose level">
        </div>

        <!-- Question: What is your blood pressure? -->
        <label class="mb-2 text-light" for="bloodPressure">What is your blood pressure?</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="bloodPressure" name="bloodPressure"
                placeholder="Enter your blood pressure">
        </div>

        <!-- Question: What is the thickness of your skin? -->
        <label class="mb-2 text-light" for="skinThickness">What is the thickness of your skin?</label>
        <div class="mb-3">
            <input type="number" class="form-control" id="skinThickness" name="skinThickness"
                placeholder="Enter the thickness of your skin">
        </div>

        <!-- Question: What is your insulin level? -->
        <label class="mb-2 text-light" for="insulinLevel">What is your insulin level?</label>
        <div class="mb-3">
            <input type="number" class="form-control" id="insulinLevel" name="insulinLevel"
                placeholder="Enter your insulin level">
        </div>

        <!-- Question: What is your Body Mass Index (BMI)? -->
        <label class="mb-2 text-light" for="bmi">What is your Body Mass Index (BMI)?</label>
        <div class="mb-3">
            <input type="number" class="form-control" id="bmi" name="bmi" placeholder="Enter your BMI">
        </div>

        <!-- Question: What is your diabetes pedigree function score? -->
        <label class="mb-2 text-light" for="diabetesPedigree">What is your diabetes pedigree function score?</label>
        <div class="mb-3">
            <input type="number" class="form-control" id="diabetesPedigree" name="diabetesPedigree"
                placeholder="Enter your diabetes pedigree function score">
        </div>

        <!-- Question: What is your age? -->
        <label class="mb-2 text-light" for="age">What is your age?</label>
        <div class="mb-3">
            <input type="number" class="form-control" id="age" name="age" placeholder="Enter your age">
        </div>

        <!-- Submit button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary my-3">SUBMIT</button>
        </div>
    </form>
</div>


{% endblock body %}